<launch>
    <!-- motor node -->
    <include file="$(find soha_drive)/launch/xycar_motor_a2.launch" />
    <include file="$(find soha_drive)/launch/xycar_motor_b2.launch" />

    <!-- camera -->
    <include file="$(find soha_drive)/launch/camera.launch" />
    <!-- camera test -->
    <!-- <include file="$(find soha_drive)/launch/camera_test.launch" /> -->

    <!-- lidar -->
    <include file="$(find soha_drive)/launch/lidar.launch" />

    <!-- ultrasonic -->
    <include file="$(find soha_drive)/launch/ultrasonic.launch" />

    <!-- src -->
    <node name="node_name" pkg="soha_drive" type="src.py" output="screen" />
</launch>
