<launch>
  <!-- motor node -->
  <include file="$(find soha_drive)/launch/xycar/xycar_motor_a2.launch" />

  <!-- camera -->
  <include file="$(find soha_drive)/launch/xycar/camera.launch" />
  <!-- camera test -->
  <!-- <include file="$(find soha_drive)/xycar/launch/camera_test.launch" /> -->

  <!-- lidar -->
  <include file="$(find soha_drive)/xycar/launch/lidar.launch" />

  <!-- ultrasonic -->
  <include file="$(find soha_drive)/xycar/launch/ultrasonic.launch" />

  <!-- src -->
  <node name="node_name" pkg="soha_drive" type="src.py" output="screen" />
</launch>
