<launch>
  <!-- 주행 노드 -->
  <node name="driver" pkg="soha_drive" type="main.py" output="screen" />
  <!-- 
    rosbag 파일 재생: 'rosbag'패키지에 있는 'play'파일을 'player'라는 이름으로 노드를 실행한다.
    'rosbag' 옵션
      -l: 반복 재생
    -->
  <!-- <node pkg="rosbag" type="play" name="player" args="-l /media/psf/Downloads/cam_topic_stdrive.bag" /> -->

  <!-- 
    필요한 부분들만 주석 해제
      1. Xycar B 모델 모터 수행
      2. USB 카메라
      3. 초음파 노드
    -->
  <include file="$(find soha_drive)/launch/xycar/xycar_motor_b2.launch" />
  <include file="$(find soha_drive)/launch/xycar/camera.launch" />
  <!-- <include file="$(find soha_drive)/xycar/launch/ultrasonic.launch" /> -->


  <!-- 
    수정 금지
      1. rosbag 기록
    -->
  <!-- 'record'라는 이름의 변수를 생성하고, 기본값을 "false"로 설정한다. -->
  <arg name="record" default="false" />
  <!--
    'rosbag'패키지에 있는 'record'파일을 'recoder'라는 이름으로 노드를 실행한다.
    'rosbag' 옵션
      -j: BZ2 압축 사용한다.
      -o PREFIX: 'PREFIX'는 '$(find soha_drive)/rosbag/track'가 되는데, 이때 출력되는 rosbag 파일은
                '$(soha_drive 패키지 경로)/rosbag/track_2021-01-29-23-51-17.bag'와 같이 끝에
                기록이 시작된 시간이 추가된다.
    <if> tag: 'record' 변수값이 true일 경우 해당 노드가 실행된다.
    -->
  <node name="recoder" pkg="rosbag" type="record"
        args="-jo $(find soha_drive)/rosbag/track /rosout" if="$(arg record)" />
</launch>
